
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bem vindo!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/cssUsuarios/Usuarios.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center align-itens-center bg-light">
            <div class="col-4 fst-italic align-content-center">
            <h1>Seja bem vindo!</h1>
                <h3 class="text-start">Aqui você pode encontrar informações sobre seus filmes prediletos de forma dinâmica e intuitiva!</h3>
            </div>
            <img class="img-fluid col-4 align-content-center" alt="Armário" src="~/img/fitaFilmes.png" />           
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
